<div class="main">
	<div class="container">
		<div class="row margin-bottom-40">
			<div class="col-md-12">
				<div class="goods-page">
					<div class="goods-data clearfix">
						<div class="portlet light">
							<div class="portlet-title"></div>
							<div class="portlet-body">
								<div class="goods-page">
									<div class="goods-data clearfix">
										<div class="table-wrapper-responsive">
											<table>
												<thead>
	                        <tr>
                            <td class="col-md-1">Ảnh SP</td>
                            <td class="goods-page-description col-md-4">Thông Tin</td>
                            <td class="goods-page-quantity col-md-1">Số Lượng</td>
                            <td class="col-md-1 text-center">Dễ vỡ</td>
                            <td class="col-md-1 text-center">Bảo hiểm</td>
                            <td class="goods-page-price col-md-1">Đơn Giá</td>
                            <td class="goods-page-price col-md-1">Phí Vc</td>
                            <td class="goods-page-total col-md-1">Tổng Giá</td>
                            <td class="col-md-1"></td>
	                        </tr>
                        </thead>
                        <tbody>
                        	<tr ng-repeat="item in cart.items">
                        		<!-- Item thumbnail -->
                        		<td>
                              <a class="product-thumbnail" href="">
                                <img src="" alt="{{ item.name }}" class="img-thumbnail">
                              </a>
                            </td>
                            <!-- Item info -->
                            <td style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
                            	<!-- name -->
                              <a target="_blank" href="" title="{{ item.name }}">{{ item.name }}</a>
                              <!-- options list -->
                              <p>{{ item.options | join:' / ' }}</p>
	                          </td>
	                          <!-- quantity -->
	                          <td>
	                          	<div class="product-quantity">
	                          		<input type="number" class="form-control input-sm" value="{{ item.quantity }}" min="1" ng-model="item.quantity" ng-change="updateItem(item.variant_id)">
	                          	</div>
	                          </td>
	                          <!-- fragile toggle -->
	                          <td class="text-center">
	                          	<label for=""><input type="checkbox"></label>
                            </td>
                            <!-- insurrance toggle -->
                            <td class="text-center">
	                          	<label for=""><input type="checkbox"></label>
                            </td>
                            <!-- price -->
                            <td class="goods-page-price">
                                {{ item.price | currency:item.currency }}
                            </td>
                            <!-- shipping -->
                            <td class="goods-page-price">
                                {{ item.shipping | currency:item.currency }}
                            </td>
                            <!-- sub total -->
                            <td class="item-total">
                              {{ ItemInstance.subTotal(item.price, item.quantity) | currency:item.currency }}
                            </td>
                            <td class="del-goods-col text-right">
                              <a title="Xóa khỏi giỏ" href="">[Xóa]</a>
	                          </td>
                        	</tr>
                        </tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="shopping-total">
							<ul>
								<li>
									<em>Tổng đơn hàng <small>(chưa tính phí DV)</small></em>
									<strong class="price">{{ CartInstance.subTotal(cart.items) | currency:'cny' }}</strong>
								</li>
								<li>
                  <em>Tổng đơn hàng VND <small>(chưa tính phí DV)</small></em>
                  <strong class="price">{{ CartInstance.subTotal(cart.items) | exchange:'cny' }}</strong>
	              </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>