<div class="main">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="portlet light shadow">
					<div class="portlet-title">
						<div class="caption">
	                        <i class="icon-login font-green-sharp"></i>
							<span class="caption-subject font-green-sharp bold uppercase">
							Đăng nhập tài khoản
	                    </div>
					</div>
					<div class="portlet-body form">
						<form name="loginForm" class="horizontal-form" ng-submit="login.submit()">
							<div class="form-body">
								<div class="form-group">
									<label for="email" class="control-label">
										Email
										<span class="required">*</span>
									</label>
									<input type="text" id="email" class="form-control" ng-model="login.email" required>
								</div>
								<div class="form-group">
									<label for="password" class="control-label">
										Mật khẩu
										<span class="required">*</span>
									</label>
									<input type="password" id="password" class="form-control" ng-model="login.password" required>
								</div>
							</div>
							<div class="form-actions text-center">
								<button type="submit" class="btn blue btn-block" ng-disabled="loginForm.$invalid">Đăng nhập</button>
								<hr>
								<p>Bạn chưa có tài khoản? Bấm vào đây để <a href="register">tạo tài khoản mới</a></p>
								<p>Bạn quên mật khẩu? Bấm vào đây để <a href="reset">tìm lại mật khẩu</a></p>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>