<div class="portlet light shadow profile-sidebar-portlet">
	<div class="profile-userpic">
		<div class="profile-userpic">
			
		</div>
	</div>
	<div class="profile-usertitle">
		<div class="profile-usertitle-name">
			{{ first_name }} {{ last_name }}
		</div>
	</div>
	<div class="profile-usermenu">
		<ul class="nav">
			<li ui-sref-active="active">
				<a href ui-sref="profile">
					<i class="icon-user"></i>
					Hồ sơ cá nhân
				</a>
			</li>
			<li ui-sref-active="active">
				<a href ui-sref="order">
					<i class="icon-user"></i>
					Quản lý đơn hàng
				</a>
			</li>
			<li ui-sref-active="active">
				<a href ui-sref="account">
					<i class="icon-user"></i>
					Thông tin tài khoản
				</a>
			</li>
			<li ui-sref-active="active">
				<a href ui-sref="settings">
					<i class="icon-settings"></i>
					Thiết lập tùy chọn
				</a>
			</li>
			<li></li>
			<li></li>
		</ul>
	</div>
</div>